<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>Controller.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>Controller.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Controller.Order</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LandingJSP.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>401</error-code>
        <location>/Error Pages/Error 401.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/Error Pages/Error 404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Error Pages/Error 500.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/Error Pages/Error 503.jsp</location>
    </error-page>
</web-app>
